<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Labor Function</title>
</head>
<body>
<h1>Select a Labor Function</h1>

<!-- Форма выбора функции -->
<form method="post" th:action="@{/parse}">
    <label for="laborFunction">Labor Function:</label>
    <select id="laborFunction" name="laborFunction">
        <option th:each="func : ${functions}" th:value="${func}" th:text="${func}"></option>
    </select>
    <button type="submit">Parse</button>
</form>

<br/><hr/><br/>

<!-- Форма очистки базы -->
<form method="post" th:action="@{/admin/db/clean}">
    <button type="submit" onclick="return confirm('Are you sure you want to clean the database?')">Clean Database</button>
</form>

</body>
</html>
